@font-face {
  font-family: 'Lalezar';
  src: url('./assets/fontes/Lalezar-Regular.ttf');
}
@font-face {
  font-family: 'Yekan';
  src: url('./assets/fontes/Yekan.ttf');
}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Yekan' , sans-serif;
}
.Lalezar{
  font-family: 'Lalezar';
}
